@font-face {
    font-family: "PostNord";
    src: url("/fonts/PostNordSansLight.ttf");
  }

body {
    padding: 0;
    margin: 0;
    font-family: 'PostNord', sans-serif;
}

* {
  box-sizing: border-box;
  
}