@font-face {
  font-family: "PostNord";
  src: url("/fonts/PostNordSansLight.ttf");
}

body {
  padding: 0;
  margin: 0;
  font-family: "PostNord", sans-serif;
}

* {
  box-sizing: border-box;
}

.myButton {
  background: #3d94f6;
  background-image: -webkit-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -moz-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -ms-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -o-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -webkit-gradient(to bottom, #3d94f6, #1e62d0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  font-family: PostNord;
  font-size: 15;
  font-weight: 100;
  padding: 10px 20px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  text-shadow: 1px 1px 20px #000000;
  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.myButton:hover {
  border: solid #337fed 1px;
  background: #1e62d0;
  background-image: -webkit-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -moz-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -ms-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -o-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -webkit-gradient(to bottom, #1e62d0, #3d94f6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
